@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.button {
  display: inline-flex;
  gap: 0.25rem;
  justify-content: center;
  padding: 0.625rem 1rem;
  border-radius: 1000px;
  transition-duration: 100ms;
  text-align: center;

  &-link {
    font-weight: 600;
    border-radius: 0px;

    &:hover {
      color: $primary;
      border-bottom: 1px solid $primary;
    }

    &-active {
      border-bottom: 1px solid $primary;
    }
  }

  &-primary {
    background-color: $primary;
    border: solid 1px $primary;
    color: $neutral-foreground;

    &:hover {
      background-color: $primary-hover;
      border-color: $primary-hover;
    }
  }

  &-outline {
    border: solid 1px $primary;
    color: $primary;
  }

  &-neutral {
    border: solid 1px $stroke;
    border-radius: 8px;
    color: $foreground;
    @include shadow;
  }
}
