@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.select-group-label {
  padding: 0.5rem;
}

.select-item {
  padding: 0.5rem 1rem;
  &[aria-disabled="true"] {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.content {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $neutral;
  color: $neutral-foreground;
  padding: 0.5rem;
  @include space-y-3;

  @include responsive(lg) {
    @include flex-between;
    position: static;

    & > :not(:last-child) {
      margin-block-end: 0;
    }

    & > :last-child {
      display: flex;
      gap: 0.5rem;
    }
  }

  & .select {
    color: $foreground;
  }

  .range {
    @include flex-between;
    gap: 0.75rem;

    input[type="range"] {
      width: 100%;
      accent-color: $primary;
      direction: rtl;
    }
  }

  .back {
    display: block;
    padding: 0.5rem;
    width: fit-content;
  }

  .radio-group {
    display: flex;
    width: 100%;
    gap: 0.25rem;
    width: fit-content;
    border-radius: 1000px;
    padding: 0.25rem;

    .reading-mode-label {
      width: 100px;
      aspect-ratio: 1/1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
      text-transform: capitalize;
      transition: color 200ms;
      border: solid 1px $stroke;
      border-radius: calc(4px);
      padding: 1rem;

      &:hover {
        background-color: $hover;
      }

      &:has(:checked) {
        background-color: $primary;
        color: $neutral-foreground;
      }

      &:nth-of-type(2) > div {
        aspect-ratio: 1;
        margin: auto;
      }
      &:last-of-type > div {
        display: flex;
        aspect-ratio: 1;
        margin: auto;
      }
    }

    input[type="radio"] {
      accent-color: $primary;
    }
  }
}

@include responsive(lg) {
  .select-chapter {
    max-width: 36rem;
  }
}

.select-page {
  max-width: 12rem;
}

.dialog-trigger {
  position: fixed;
  z-index: 1;
  top: 0.5rem;
  right: 0.5rem;
  background-color: $neutral;
  color: $neutral-foreground;
  padding: 0.5rem;
  border-radius: 100%;
  transition: transform 200ms;

  .close {
    display: none;
  }

  &[aria-expanded="true"] {
    background-color: transparent;
    transform: rotateZ(45deg);

    .burger {
      display: none;
    }

    .close {
      display: block;
    }
  }
}
