@use "../mixins.scss" as *;
@use "../variables.scss" as *;

footer {
  & .social-networks {
    background-color: $background;
    @include space-y-6;
    padding: 2rem 0;

    & .heading {
      text-align: center;
      font-size: 1.125rem;
    }
    & ul {
      @include flex-center;
      gap: 1.5rem;

      & a {
        & svg {
          transition: 200ms;
        }
        &:hover {
          & svg {
            color: $primary;
          }
        }
      }
    }
  }

  & .copyrights {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
  }
}
