@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.text-input {
  border: solid 1px $stroke;
  padding: 0.5rem;
  background-color: $background-100;
  border-radius: 8px;
  width: 100%;

  &:focus {
    border: solid 1px $primary;
  }
}

.textarea {
  @include flex-col;
  gap: 0.5rem;

  & textarea {
    border: solid 1px $stroke;
    padding: 0.5rem;
    background-color: $background-100;
    border-radius: 8px;
    width: 100%;
    min-height: 10rem;
    resize: none;

    &:focus {
      border: solid 1px $primary;
    }
  }
}

.password-input {
  & > div {
    @include flex-between;
    border: solid 1px $stroke;
    padding: 0.5rem;
    background-color: $background-100;
    border-radius: 8px;
    width: 100%;

    & input {
      width: 100%;
    }
  }

  &:focus-within > div {
    border: solid 1px $primary;
  }
}
