@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.mobile-nav {
  @include flex-center;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  padding: 0.5rem;
  bottom: 0;
  background-color: $background;
  border-top: solid 1px $stroke;
  font-size: 0.875rem;

  & a {
    font-weight: 600;
    text-align: center;
    color: $foreground;

    &.active {
      color: $primary;
    }

    & svg {
      margin: 0 auto;
    }
  }

  & button {
    font-weight: 600;
    text-align: center;
    color: $foreground;

    &:hover {
      color: $primary;
    }

    & svg {
      margin: 0 auto;
    }
  }
}
