@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.multi-file-input {
  @include space-y-3;

  & > label {
    display: block;
  }

  & .drop-zone-container {
    @include space-y-3;

    & .drop-zone {
      flex: 1;
      background-color: $background-100;
      border: dashed 2px $stroke;
      text-align: center;
      min-height: 10rem;
      border-radius: 8px;
      gap: 0.25rem;
      cursor: pointer;
      @include flex-col-center;
    }
  }

  & .files-container {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;

    & > div {
      position: relative;
      display: flex;
      flex: 0 0 auto;

      & .button {
        rotate: 45deg;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border-radius: 100%;
        color: $neutral-foreground;
        padding: 0.25rem;
        background-color: $neutral;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    & img {
      object-fit: cover;
      border-radius: 4px;
      height: 10rem;
      width: 100%;
    }
  }
}
