@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.search-input {
  @include flex-between;

  & svg {
    flex-shrink: 0;
  }

  &:has(input[aria-expanded="true"]),
  &:has(:focus-within) {
    > label {
      border: solid 1px $primary;
    }

    svg {
      fill: $primary;
    }
  }

  & > label {
    @include flex-center;
    border: solid 1px $stroke;
    border-radius: 1000px;
    padding: 0.25rem 0.5rem;
    width: 100%;
    gap: 1rem;

    & input {
      width: 100%;
    }
  }
}
