@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.search-results {
  @include space-y-6;
  border: solid 1px $stroke;
  @include shadow;

  & > a {
    display: flex;
    gap: 0.5rem;

    & > img {
      aspect-ratio: 2/3;
      border-radius: 4px;
      max-height: 175px;
    }

    & > div {
      @include space-y-2;
      overflow: auto;
      margin: auto 0;

      & > .heading {
        font-weight: 600;
        font-size: 1.275rem;

        &-2 {
          font-size: 0.875rem;
        }
      }

      & .tag {
        font-size: 0.75rem;
      }

      & ul {
        display: flex;
        overflow: auto;
        gap: 0.5rem;

        & li {
          & svg {
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
