@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.select {
  border: solid 1px $stroke;
  overflow: hidden;
  background-color: $background-100;
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem;
  @include flex-between;

  &[aria-expanded="true"] {
    border: solid 1px $primary;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    & .select-arrow {
      transform: rotate(180deg);
    }
  }

  &:focus-within {
    border: solid 1px $primary;
  }

  &-arrow {
    transition-duration: 200ms;
  }

  &-popover {
    background-color: $background-100;
    border: solid 1px $stroke;
    border-top: 0;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 50;
    max-height: 24rem;
    overflow: auto;
    max-height: 11rem;
    @include shadow;

    &[data-open="true"] {
      border: solid 1px $primary;
      border-top: 0;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;

    &-hover {
      background-color: $primary-hover;
      color: white;
    }

    &:hover,
    &:nth-child(odd):hover,
    &:nth-child(odd)[data-active-item="true"],
    &[data-active-item="true"] {
      background-color: $primary-hover;
      color: white;
    }

    &:nth-child(odd) {
      background-color: $background;
    }
  }
}

.render-multi-selection {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  text-overflow: ellipsis;
}
