@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;
@use "../../ui/inputs/select/select.scss" as *;

.add-a-manga {
  padding: 1.5rem;
  & form {
    max-width: 1024px;
    margin: 0 auto;
    @include space-y-6;

    & h1 {
      text-align: center;
    }

    & .container {
      margin: auto;
      gap: 1rem;
      @include space-y-6;

      & .custom-file-input {
        display: flex;
        gap: 0.5rem;
        @include space-y-3;

        & div {
          flex: 1;
          background-color: $background-100;
          border: dashed 2px $stroke;
          text-align: center;
          min-height: 10rem;
          border-radius: 8px;
          gap: 0.25rem;
          cursor: pointer;
          @include flex-col-center;
        }

        & img {
          object-fit: cover;
          max-height: 10rem;
          border-radius: 4px;
        }
      }

      & label {
        display: block;
        width: 100%;

        & .select::first-letter {
          text-transform: capitalize;
        }
      }

      & input,
      textarea {
        border: solid 1px $stroke;
        padding: 0.5rem;
        background-color: $background-100;
        border-radius: 8px;
        width: 100%;

        &:focus {
          border: solid 1px $primary;
        }
      }

      & textarea {
        min-height: 10rem;
        resize: none;
      }

      & .render-multi-selection {
        @extend %render-multi-selection;
      }
    }
  }

  .button {
    padding: 0.625rem 1rem;
    border-radius: 4px;
    margin: 0 auto;
    transition-duration: 100ms;

    &:hover {
      opacity: 0.7;
    }

    &-primary {
      background-color: $primary;
      border: solid 1px $primary;
      color: $neutral-foreground;
    }

    &-outline {
      border: solid 1px $primary;
    }

    &-full {
      width: 100%;
    }
  }
}
@media screen and (min-width: 768px) {
  .add-a-manga {
    & form {
      & .container {
        & .custom-file-input {
        }
        & .fields {
          gap: 0.5rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          & label:nth-child(7) {
            grid-column: 1 / span 2;
          }
        }
      }
    }
  }
}
