@use "./variables.scss" as *;
@use "./components/button.scss" as *;
@use "./components/tag.scss" as *;
@use "./components/footer.scss" as *;
@use "./components/nav.scss" as *;
@use "./components/search-input.scss" as *;
@use "./components/error-block.scss" as *;
@use "./components/input.scss" as *;
@use "./components/tabs.scss" as *;
@use "./components/multi-file.scss" as *;
@use "./components/select.scss" as *;
@use "./components/file.scss" as *;
@use "./components/dialog.scss" as *;
@use "./components/chapter-menu.scss" as *;
@use "./components/search-results.scss" as *;
@use "./components/heading.scss" as *;
@use "./page/serie.scss" as *;
@use "./page/catalogue.scss" as *;
@use "./page/bookmarks.scss" as *;
@use "./page/register.scss" as *;
@use "./page/login.scss" as *;
@use "./page/profile.scss" as *;
@use "./page/home.scss" as *;
@use "./page/abonnement.scss" as *;
@use "./page/add-a-chapter.scss" as *;
@use "./page/add-a-serie.scss" as *;
@use "./page/add-a-volume.scss" as *;
@use "./page/chapter.scss" as *;
@use "./page/account.scss" as *;
@use "./page/admin.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rufina:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rufina:wght@400;700&display=swap");

/* Reset SCSS minimal et efficace */

* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: max-content;
  width: 100%;
  color: $foreground;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-rendering: optimizeSpeed;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

* {
  outline-color: $primary;
}

input[type="number"] {
  appearance: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

#app-wrapper {
  display: flex;
  min-height: calc(100svh - 62px);

  & > div:first-child {
    flex: 1;
  }
}
