@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-col-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@mixin line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin space-y-1 {
  & > :not(:last-child) {
    margin-block-end: 0.25rem;
  }
}

@mixin space-y-2 {
  & > :not(:last-child) {
    margin-block-end: 0.5rem;
  }
}

@mixin space-y-3 {
  & > :not(:last-child) {
    margin-block-end: 0.75rem;
  }
}

@mixin space-y-4 {
  & > :not(:last-child) {
    margin-block-end: 1rem;
  }
}

@mixin space-y-6 {
  & > :not(:last-child) {
    margin-block-end: 1.5rem;
  }
}
@mixin space-y-8 {
  & > :not(:last-child) {
    margin-block-end: 2rem;
  }
}
