@use "sass:map";
@use "./variables.scss" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-col-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@mixin line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin justify-start {
  display: flex;
  justify-content: start;
}

@mixin space-y-none {
  & > :not(:last-child) {
    margin-block-end: 0;
  }
}

@mixin space-y-1 {
  & > :not(:last-child) {
    margin-block-end: 0.25rem;
  }
}

@mixin space-y-2 {
  & > :not(:last-child) {
    margin-block-end: 0.5rem;
  }
}

@mixin space-y-3 {
  & > :not(:last-child) {
    margin-block-end: 0.75rem;
  }
}

@mixin space-y-4 {
  & > :not(:last-child) {
    margin-block-end: 1rem;
  }
}

@mixin space-y-6 {
  & > :not(:last-child) {
    margin-block-end: 1.5rem;
  }
}
@mixin space-y-8 {
  & > :not(:last-child) {
    margin-block-end: 2rem;
  }
}
@mixin space-y-16 {
  & > :not(:last-child) {
    margin-block-end: 4rem;
  }
}

@mixin shadow {
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@mixin responsive($size) {
  $breakpoint: map.get($breakpoints, $size);
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "No breakpoint found for `#{$size}`.";
  }
}
