$background: #fff;
$background-100: #f8f8f8;
$background-200: #c7c7c7;

$foreground: #1d1d1d;
$foreground-100: #545454;

$neutral: #1d1d1d;
$neutral-foreground: #fff;

$stroke: #e6e6e6;
$hover: #e6e6e6;

$primary: #bc002d;
$primary-hover: #d32f4c;

$destructive: #e6002a;

$xs: 480px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$breakpoints: (
  xs: $xs,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
