@use "../mixins.scss" as *;
@use "../variables.scss" as *;

#abonnement {
  @include space-y-4;
  & > .heading {
    text-align: center;
  }

  & > button {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}
