@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.dialog {
  position: fixed;
  max-width: 65ch;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  @include space-y-4;

  & > div {
    padding: 1.5rem;
    border-radius: 8px;
    background-color: $background;
    @include flex-between;

    & > .dialog-heading {
      font-size: 1.125rem;
    }

    & > .dialog-dismiss {
      display: block;
      margin-left: auto;
    }
  }
}

.tabs {
  @include space-y-8;
  .tab-list {
    display: flex;
    padding: 0.25rem;
    border: solid 1px $stroke;
    border-radius: 1000px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: 0.125rem;

    & > .tab {
      transition-duration: 200ms;
      padding: 0.5rem 1rem;
      color: $foreground-100;
      border-radius: 1000px;

      &[aria-selected="true"] {
        background-color: $primary;
        color: white;
      }
    }
  }

  .panels {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    overflow: hidden;

    .tab-panel {
      @include shadow;
      @include space-y-6;
      border: solid 1px $stroke;
      border-radius: 8px;
      padding: 1.5rem;
      transition-property: opacity, transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;

      &[data-was-open] {
        opacity: 0;
        transform: translateX(-100%);
      }

      &:nth-child(2)[data-was-open] {
        transform: translateX(100%);
      }

      &[data-open]:not([data-enter]) {
        opacity: 0;
        transform: translateX(100%);
      }

      &:nth-child(1)[data-open]:not([data-enter]) {
        transform: translateX(-100%);
      }

      &[data-enter] {
        opacity: 1;
        transform: translateX(0);
      }

      &:not([data-open]) {
        position: absolute;
        top: 0;
      }

      & > div {
        & > .heading {
          display: flex;
          gap: 0.25rem;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 500;

          & > span {
            font-size: 0.875rem;
          }

          & > .tag {
            padding: 0 0.5rem;
            background-color: $primary;
            border: solid 1px $primary;
            color: white;
            font-size: 0.875rem;
            font-weight: 600;
          }
        }

        & > p {
          font-size: 0.875rem;
        }
        & > small {
          font-size: 0.675rem;
        }
      }

      & > button {
        width: 100%;
      }
      & > .separator {
        position: relative;
        color: $foreground-100;

        & > span {
          display: block;
          width: fit-content;
          margin: auto;
          background-color: white;
          padding: 0 0.25rem;
        }

        & > div {
          position: absolute;
          left: 0;
          top: 50%;
          right: 0;
          height: 1px;
          background-color: $stroke;
          z-index: -1;
        }
      }

      & > ul {
        & > li {
          display: flex;
          gap: 0.25rem;

          & > svg {
            color: $primary;
          }
        }
      }
    }
  }
}

.backdrop {
  background-color: hsla(0, 0%, 0%, 0.4);
  z-index: 2;
}
