@use "../mixins.scss" as *;
@use "../variables.scss" as *;

#catalogue {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1rem;

  & .empty-catalogue-state {
    height: 100%;
    place-content: center;
    text-align: center;
    font-weight: 600;
    padding: 0.25rem;
  }

  & header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;

    &:has(.menu-burger[aria-expanded="true"]) {
      background-color: $background;
    }

    & .menu-burger {
      margin-left: auto;
      background-color: $primary;
      color: $neutral-foreground;
      border-radius: 100%;
      padding: 0.5rem;
      transition: transform 200ms;

      &:not([aria-expanded="true"]) ~ .search-input {
        display: none;
      }

      .close {
        display: none;
      }

      &[aria-expanded="true"] {
        background-color: transparent;
        color: $foreground;
        transform: rotateZ(45deg);

        .burger {
          display: none;
        }

        .close {
          display: block;
        }
      }
    }
  }

  .content {
    width: 100vw;
    background-color: $background;
    color: $foreground;
    max-height: calc(100svh - 137px);
    overflow: auto;
    padding: 1rem;
    padding-top: 0;
    @include space-y-6;
    @include shadow;

    h2 {
      font-size: 1.25rem;
    }
    h3 {
      font-size: 1.125rem;
    }

    label,
    .quick-filters-genres-heading,
    .quick-filters-types-heading,
    .quick-filters-heading {
      position: sticky;
      z-index: 2;
    }

    & > label {
      background-color: $background;
      padding: 0.5rem;
      padding-top: 1rem;
      top: 0;
      display: block;
    }

    .see-more,
    .reset {
      color: $primary;
    }

    .quick-filters {
      &-heading {
        @include flex-between;
        top: 0;
        background-color: $background;

        @include responsive(md) {
          padding: 1rem;
        }

        & a {
          font-size: 0.875rem;
        }
      }

      &-heading + div {
        .quick-filters-genres {
          &-heading {
            top: 27px;
            background-color: $background;
            padding-top: 1.5rem;
            padding-bottom: 0.5rem;
            @include flex-between;

            & button {
              font-size: 0.875rem;
            }
          }
          &-list {
            flex-wrap: wrap;
            @include justify-start;
            gap: 0.5rem;

            &:has(.tag-active) > .tag:not(.tag-active) {
              opacity: 0.5;
              position: relative;
            }
          }
        }
        .quick-filters-types {
          @include space-y-2;
          &-heading {
            top: 27px;
            background-color: $background;
            padding-top: 1.5rem;
            padding-bottom: 0.5rem;
            @include flex-between;
          }
          &-list {
            flex-wrap: wrap;
            @include justify-start;
            gap: 0.5rem;

            &:has(.tag-active) > .tag:not(.tag-active) {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  & main {
    flex: 1;
    padding: 1rem;

    @include responsive(md) {
      max-width: 1284px;
      margin: 0 auto;
      width: 100%;
    }

    & ul {
      @include flex-center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .mangas {
      display: grid;
      grid-template-columns: repeat(auto-fit, 125px);
      justify-content: center;
      gap: 1rem;

      @include responsive(md) {
        grid-template-columns: repeat(auto-fit, 165px);
      }
      @include responsive(lg) {
        grid-template-columns: repeat(auto-fit, 235px);
      }

      &[data-pending="true"] {
        animation: pulse 1.5s ease-in-out infinite;
      }

      & > a {
        @include space-y-2;

        &:hover {
          & figure {
            border-color: $neutral;
            & img {
              scale: 1.02;
            }
          }
        }

        & figure {
          overflow: hidden;
          border-radius: 4px;
          border: solid 1px $stroke;
          transition: 200ms;
          & img {
            transition: 200ms;
            width: 100%;
            aspect-ratio: 1/1.5;
          }
        }

        & > div {
          @include space-y-2;

          & h2 {
            font-size: 1.125rem;
          }

          & span {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

.quick-filters {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  &-heading {
    @include flex-between;
    top: 0;
    background-color: $background;
    & a {
      font-size: 0.875rem;
    }
  }

  &-heading + div {
    .quick-filters-genres {
      &-heading {
        top: 27px;
        background-color: $background;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        @include flex-between;

        & button {
          font-size: 0.875rem;
        }
      }
      &-list {
        flex-wrap: wrap;
        @include justify-start;
        gap: 0.5rem;

        &:has(.tag-active) > .tag:not(.tag-active) {
          opacity: 0.5;
          position: relative;
        }
      }
    }
    .quick-filters-types {
      @include space-y-2;
      &-heading {
        top: 27px;
        background-color: $background;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        @include flex-between;
      }
      &-list {
        flex-wrap: wrap;
        @include justify-start;
        gap: 0.5rem;

        &:has(.tag-active) > .tag:not(.tag-active) {
          opacity: 0.5;
        }
      }
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
