@use "../mixins.scss" as *;
@use "../variables.scss" as *;
.chapter-image {
  @include justify-center;
  flex: 0 0 100%;
  max-height: 100%;
  scroll-snap-align: start;

  .img-container {
    display: flex;
    img {
      margin: auto;
      max-height: 100%;
      width: 100%;
    }
  }
}

.chapter-images-container {
  background-color: $neutral;
  height: 100svh;
  scroll-snap-type: both mandatory;
  gap: 2rem;

  &-scroll-x {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    direction: rtl;
  }
  &-scroll-y {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

@media screen and (min-width: 1024px) {
  .chapter-images-container {
    height: calc(100svh - 64px);
  }
}
