@use "../mixins.scss" as *;
@use "../variables.scss" as *;

#register {
  place-content: center;
  margin: auto;
  max-width: 65ch;
  width: 100%;
  padding: 1rem;
  @include space-y-8;
  & > form {
    @include space-y-6;

    & > div {
      @include space-y-3;

      & > label {
        display: block;
        width: 100%;
      }
    }

    & > button {
      width: 100%;
    }
  }
  & > p {
    text-align: center;

    & > a {
      font-weight: 600;
      color: $primary;
      text-decoration: underline;
    }
  }
}
