@use "../mixins.scss" as *;
@use "../variables.scss" as *;

#fiche,
#volumes,
#avis {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0.75rem;
  @include space-y-6;
}
#serie {
  & header {
    background-image: url("/shingeki-no-kyojin-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    & > div {
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;

      gap: 1rem;
      padding: 1rem;

      & img {
        flex: 1;
        border-radius: 4px;
        max-width: 250px;
      }

      & ul {
        color: $neutral-foreground;
        margin: auto 0;
        @include space-y-2;

        & .status::first-letter {
          text-transform: uppercase;
        }

        & h1 {
          font-size: 1.5rem;
        }
      }
    }
  }

  & > .button-container {
    background-color: $background;
    display: flex;
    position: sticky;
    top: 0px;
    width: 100%;
    @include shadow;

    @include responsive(lg) {
      top: 51px;
    }

    & > * {
      flex: 1;
      text-align: center;
    }
  }

  & main {
    padding: 1rem;
    background-color: $background-100;
    & #fiche {
      background-color: $background;
      border: solid 1px $stroke;
      padding: 1rem;
      border-radius: 8px;
      section {
        @include space-y-2;

        & h2 {
          font-size: 1.25rem;
        }

        & .tag {
          background-color: $background;
        }

        &.genres {
          ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0.25rem;

            & > li::first-letter {
              text-transform: uppercase;
            }
          }
        }

        &.type {
          & span {
            text-transform: capitalize;
          }
        }

        &.other-names {
          ul {
            display: flex;
            gap: 0.25rem;
            flex-wrap: wrap;
          }
        }
      }
    }

    & #volumes {
      background-color: $background;
      border: solid 1px $stroke;
      padding: 1rem;
      border-radius: 8px;
      ul {
        @include space-y-2;
        & .volume-group {
          @include space-y-6;

          & .volume-card {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &[aria-expanded="true"] {
              & .volume-caret {
                transform: rotate(180deg);
              }
            }

            & .volume-caret {
              transition-duration: 150ms;
              flex-shrink: 0;
            }

            & div {
              text-align: start;
              @include space-y-1;
              & h3 {
                font-size: 1.25rem;
                color: $primary;
              }

              & .chapter-range {
                font-size: 0.875rem;
                color: $foreground-100;
              }
            }

            & p {
              @include line-clamp-3;
            }
          }

          & .chapters {
            display: grid;
            transition: grid-template-rows 150ms;
            grid-template-rows: 0fr;
            @include space-y-2;

            &[data-enter] {
              grid-template-rows: 1fr;
            }

            > * {
              overflow: hidden;
              padding: 0;
            }

            & li {
              &:not(:last-child) {
                border-bottom: solid 1px $stroke;
              }

              & .chapter-link {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1rem;

                & .chapter-number {
                  font-size: 2rem;
                  color: $foreground-100;
                }

                & .chapter-page-count {
                  font-size: 0.875rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
