@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.form-wrapper {
  & .dialog-content {
    max-width: 1024px;
    padding-bottom: 0;
    margin: 0 auto;
    @include space-y-6;

    & h1 {
      text-align: center;
    }

    & .fields {
      @include space-y-4;

      @at-root .form-wrapper#serie-form & {
        @include responsive(md) {
          gap: 0.5rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          label:nth-child(7) {
            grid-column: 1 / span 2;
          }
        }
      }

      & .custom-file-input {
        display: flex;
        gap: 0.5rem;
        @include space-y-3;

        & > div:first-of-type {
          flex: 1;
          background-color: $background-100;
          border: dashed 2px $stroke;
          text-align: center;
          min-height: 10rem;
          border-radius: 8px;
          gap: 0.25rem;
          cursor: pointer;
          @include flex-col-center;

          & div {
            & svg {
              margin: 0 auto;
            }
          }
        }

        & img {
          object-fit: cover;
          max-height: 10rem;
          border-radius: 4px;
        }
      }

      & label {
        display: block;
        width: 100%;
      }

      & input,
      textarea {
        border: solid 1px $stroke;
        padding: 0.5rem;
        background-color: $background-100;
        border-radius: 8px;
        width: 100%;

        &:focus {
          border: solid 1px $primary;
        }
      }

      & textarea {
        min-height: 10rem;
        resize: none;
      }

      & .select:disabled {
        opacity: 0.5;
      }
    }
  }

  & .button-container {
    position: sticky;
    bottom: 0;
    background-color: $background;
    padding: 1rem 0;

    .button {
      display: inline-flex;
      gap: 0.25rem;
      padding: 0.625rem 1rem;
      border-radius: 4px;
      margin: 0 auto;
      transition-duration: 100ms;
    }
  }
}
